@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #000000, #7c7c7c) fixed;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.server-info,
.server-goal {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.server-goal {
    color: #53B848;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.invite-link {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #555555, #3f3f3f);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.invite-link:hover {
    background: linear-gradient(135deg, #000000, #c4c2c2);
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #000000, #424242);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
